<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function login(){
        var userId = $("#userid").val()
        var password = $("#password").val()
        var ajax = $.ajax({
        url: "/login",
            data: ({"userId" : userId , "password" : password}),
            type: 'POST',
            success: function (response) {
            if(response.isSuccess == true) {
                alert("완료");
                location.replace('/');
            }
            else {
                alert("실패");
                location.replace('/');
            }
        }
        });
    }
    function main(){
        location.replace('/test');
    }
</script>
<div style="width:420px;">
    <div onclick="main();" id="login" style="text-align:right;">메인페이지 </div>
    <hr>
    <div>
        <div>
            <div>아이디 <input type="text" id="userid" name="userid" style="width:100%;"> </div>
            <div>패스워드 <input type="password" id="password" name="password" style="width:100%;"> </div>
        </div>
        <div></div>
    </div>
    <div style="margin-top:8px;text-align:right;"> <input type="button" class="btnLogin" value="소셜로그인" onclick="location.replace('/kakao');" >
        <input type="button" class="btnLogin" value="회원가입" onclick="location.replace('/signUpPage');" >
    </div> <hr> <div style="text-align:center;"><input type="button" class="btnLogin" value="로그인" onclick="login();" ></div> </div>
